#profile_content {
  padding-top: 20px;
}
.bio_container {
  margin-top: 40px;
}

.avatar_section {
  padding-top: 50px;
  background-color: white;

  max-width: 100vw;
  overflow: hidden;
  margin: auto;
  top: 40px;
  z-index: 600;
  // on desktop
  @media (min-width: 1024px) {
    max-width: 400px;
  }
  .title_row {
    text-align: center;

    h1 {
      margin-bottom: 10px;
      width: 100%;
      white-space: nowrap;
      transition: 0.5s;
      transition-delay: 0.2s;
    }
    .title {
      width: 100% !important;
      display: block;
      white-space: nowrap;

      transition: 0.5s;
      transition-delay: 0.2s;
    }
  }
  .details {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.5s;

    .col {
      width: 33%;
      display: inline-block;

      display: flex;
      transition: 0.5s;

      .col-content {
        margin: auto;
        width: fit-content;
        transition: 0.5s;
      }
      h3 {
        font-family: $secondary-font;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        color: #484848;
      }
      small {
        font-family: $secondary-font;
        font-weight: normal;
        font-size: 10px;
        text-align: center;
        color: #b4b4b4;
      }
    }
    .image-container {
      width: 33%;

      img {
        max-width: 100%;
        height: 100px;
        object-fit: contain;
        transition: 0.5s;
      }
      transition: 0.5s;
    }
  }
}

.avatar_animate {
  // on mobile
  @media (max-width: 768px) {
    padding-top: 15px;
    .title_row {
      h1 {
        width: 0;
        margin-bottom: 0px;
        // nowrap
        transition: 0.5s;
      }
      .title {
        width: 0 !important;
        // nowrap
        transition: 0.5s;
      }
    }
    .details {
      margin-top: -44px;
      transition: 0.5s;
      padding: 0;
      transition: 0.5s;
      .hide_animate {
        width: 0px;
        opacity: 0;
        display: none;
        transition: 0.5s;
      }
      .image-container {
        //   width: 100% !important;
        display: block !important;
        width: 55px !important;
        height: 55px;
        float: right;
        //   margin-right: 0 !important;

        transition: 0.5s;
        img {
          max-height: 100%;
          width: 44px;
          float: right;
          margin-right: 20px;
          transition: 0.5s;
        }
      }
    }
  }
}

#Tabs_profile {
  top: 50px;
  z-index: 500;
  background-color: white;
  //   box-shadow: -1px 33px 45px -24px rgba(0, 0, 0, 0.31);
  //   -webkit-box-shadow: -1px 33px 45px -24px rgba(0, 0, 0, 0.31);
  //   -moz-box-shadow: -1px 33px 45px -24px rgba(0, 0, 0, 0.31);
  .tabs {
    padding-top: 30px;
    border-bottom: 2px solid #ededed;
    li {
      display: inline-block;
      margin-right: 10px;
      padding-bottom: 20px;
      a {
        display: inline-block;

        font-family: $secondary-font;
        font-weight: 500;
        font-size: 13px;

        text-align: left;
        color: #d8d8d8;
        text-decoration: none;
        color: #d8d8d8;
      }

      &:hover {
        color: black;
        padding-bottom: 18px;
        border-bottom: 2px solid $primary-color;
      }
    }
    .active {
      color: black !important;
      padding-bottom: 18px;
      border-bottom: 2px solid $primary-color !important;
      a {
        color: black !important;
      }
    }
  }
}

.space {
  height: 1500px;
}

.hide {
  display: none;
}

#Desktop_Profile_header {
  padding-top: 50px;
  .hero_image {
    width: 100%;
    height: 250px;
    position: relative;
    // background-color: red;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .user_details {
    // background-color: red;
    // margin-top: -50px;
    padding-top: 15px;
    position: relative;
    // height: 150px;
    .details_row {
      width: 400px;
      margin: auto;
      // background: rgba(blue, 0.2);
    }
    .profile_pic {
      border: 5px solid white;

      width: 150px;
      max-width: 100%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: green;
      position: relative;
      margin: auto;
      margin-top: -50px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .col-4 {
      // background-color: red;
    }
    .col-content {
      h3 {
        text-align: center;
      }
      small {
        text-align: center !important;
        margin: auto;

        display: block;
      }
    }
  }
  .title_row {
    text-align: center;
    h1 {
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }
}
