#Service_item {
  .item {
    padding-top: 10px;
    padding-bottom: 10px;
    .img_container {
      height: 167px;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .title_row {
      //   background-color: red;
      h3 {
        font-family: $secondary-font;
        font-weight: 500;
        font-size: 18px;
        text-align: left;
        color: #4a4a4a;
        margin-top: 10px;
      }
      .link {
        float: right;
        font-family: $secondary-font;
        font-weight: 500;
        font-size: 11px;
        text-align: left;
        color: #d8d8d8;
        padding-top: 10px;
      }
      .arrow {
        width: 12.68px;
        object-fit: contain;
        padding-top: 5px;
        margin-left: 8px;
      }
    }
  }
  a {
    text-decoration: none;
  }
}
#portfolio {
  margin-bottom: 50px;
}
#profile_services {
  padding-top: 20px;
  .item {
    padding-top: 10px;
    padding-bottom: 10px;
    .img_container {
      height: 180px;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .title_row {
      //   background-color: red;
      h3 {
        font-family: $secondary-font;
        font-weight: 500;
        font-size: 18px;
        text-align: left;
        color: #4a4a4a;
        margin-top: 10px;
      }
      .link {
        float: right;
        font-family: $secondary-font;
        font-weight: 500;
        font-size: 11px;
        text-align: left;
        color: #d8d8d8;
        padding-top: 10px;
      }
      .arrow {
        width: 12.68px;
        object-fit: contain;
        padding-top: 5px;
        margin-left: 8px;
      }
    }
  }
  a {
    text-decoration: none;
  }
}

#single_service {
  padding-top: 20px;
  padding-bottom: 20px;
  .img_container {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .details {
    padding-top: 20px;
    h3 {
      text-align: left;
    }
    .small_details {
      font-family: $secondary-font;
      font-weight: 300;
      font-size: 12px;
      text-align: left;
      color: #d1d1d1;
    }
    .description {
      margin-top: 15px;
    }
  }
  .gallery {
    padding-top: 20px;
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2px;
    }
    .square {
      aspect-ratio: 1/1;
    }
    .mid_high {
      height: calc(50%);
    }
    .top-row {
      margin-bottom: 10px;
    }
  }
  .position-relative {
    position: relative;
  }
  button {
    // margin-top: -50px;
    // float: right;
    margin-top: 20px;
  }
}

#review {
  padding-top: 20px;
  padding-bottom: 20px;

  .review_item {
    padding-top: 10px;
    padding-bottom: 10px;
    .review_avater {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
      display: block;
      margin: auto;
    }
    .review_details {
      //   padding-left: 30px;
    }
    h5 {
      margin-bottom: 0;
      margin-top: 0;
    }
    .date {
      font-family: $secondary-font;
      font-weight: 300;
      font-size: 11px;
      text-align: left;
      color: #d1d1d1;
    }
    .review {
      font-family: $secondary-font;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      text-align: left;
      color: #d1d1d1;
    }
  }
}

.note {
  padding-top: 20px;
  padding-bottom: 20px;
}
